
h1{
    color: blue;
}
.Navbar{
    background: linear-gradient(135deg, #4A90E2, #003366);
    color: white;
    padding: 25px;
    text-align: center;
    font-size: 25px;

}
.Navbar a{
    color: black;
    padding: 10px;
    text-decoration: none;
    margin: 0 10px;
}
.Navbar a:hover{
    color: rgb(222, 215, 215);
    text-decoration: underline;
    text-decoration-color: rgb(222, 215, 215);
}

body{
    margin: 0;
}
.card{
    border: 2px solid black;
    width: 250px;
    text-align: center;
    margin: 20px auto;
    
}
.card img{
    width: 100%;
}

